@model IntroTdd.Web.Models.Cuenta

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Depositar", "Home", FormMethod.Post))
{
    @Html.LabelFor(x => x.Monto);
    @Html.TextBoxFor(x => x.Monto);
    @Html.LabelFor(x => x.Saldo);
    @Html.DisplayFor(x => x.Saldo);
    @Html.HiddenFor(x => x.Saldo);

    <br />
    <input type="submit" class="btn btn-primary" value="Depositar" />
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Depositar">
                    <div class="form-group">
                        <label asp-for="Monto" class="control-label"></label>
                        <input asp-for="Monto" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Saldo" class="control-label"></label>
                        <input asp-for="Saldo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Depositar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>*@
